<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>clip img search</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <style>
    .image-row {
      /* display: flex; */
      justify-content: center;
      align-items: center;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 10px;
    }

    .image-item {
      max-width: 300px;
      height: auto;
      margin: 0 10px;
    }
  </style>
</head>

<body>
  <main class="container">
    <h1>clip img import</h1>
    <button onclick="window.location.href = '/'">图片搜索</button>
    <form method=post enctype=multipart/form-data action="/import_img">
          <!-- <h1>Select Folder</h1> -->
      <!-- <input id="image-input" type=file name=image required="required" onchange="previewImage()"><br> -->
      <!-- <input type="file" id="folderInput" webkitdirectory directory multiple> -->
      <label for="fname">请输入要导入的文件夹路径:</label>
      <input id="image-input" type=text name=folderPath required="required"><br>
      <input type=submit value=上传>
    </form>

  </main>
</body>

</html>